// Header

.banner {
	display: block;
	
}

// Content

.pop-out {
	
	width: 316px;
    position: absolute;
    top: 35%;
    left: 55%;
    background-color: #fff;
    padding: 10px;
} 

.article, .article h3 { 
	margin: 15px 0;
	width: 316px;

}

.article {
	float: left;
	
}

.center {
	margin: 15px 10px;
}

.pop {
	h2 {
	color: $aquamarine-blue;
	}
}