// Container

.wrapper {
	margin: 0 auto;
	overflow: hidden;
	width: 800px;
}


// Contact Info 

.cthulu-pic {
	float: right;
}

.contact-info {
 	margin-bottom: 20px;
}

.fn {
	border-bottom: 1px solid $dark-gray;
	padding-bottom: 5px;
	margin: 20px 0 15px;
}

.email {
	border-bottom: 1px dotted $light-gray;
	color: $light-gray;
	text-decoration: none;
	}
	
	// Objetive 
	
	.cthulu-objective {
		margin-bottom: 40px;
			p {
			color: $gray;
			font: oblique 19px/1.5 $secondary-font;
	}
}

// Info 

.diferent-title {
	color: $light-gray;
	float: right;
	font: italic normal 15px $primary-font;
	text-align: right;
} 